.header {
  padding: 2rem 10%;
  margin: 2rem 10%;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--button-backround-color);
}

.logo {
  font-size: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: var(--button-backround-color);
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--button-backround-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
}

.addIcon {
  color: var(--background-color);
}

.button:hover {
  background-color: var(--button-hover-color);
  transform: translateY(-2px);
}

@media (max-width: 500px) {
  .smallButton {
    background-color: blue;
  }
}
