.header {
  padding: 2rem 10%;
  margin: 2rem 10%;
  padding: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--button-backround-color);
}

.leftHeadingContainer {
  display: flex;
  flex-direction: row;
  color: var(--button-backround-color);
}

.leftHeadingContainer h1 {
  margin-left: 10px;
}

.rightHeadingContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.rightHeadingContainer svg {
  color: var(--button-backround-color);
  cursor: pointer;
  transition: ease-out 0.3s;
}

.rightHeadingContainer svg:hover {
  color: var(--button-hover-color);
  transform: scale(1.2);
}
