.container {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: auto;
  flex-basis: 100%;
  justify-content: center;
  border-radius: 25px;
  background-color: var(--button-backround-color);
  background-color: var(--background-color);
}

.topBar {
  display: flex;
  width: 100%;
  justify-content: end;
}
.topBar a {
  color: rgba(255, 0, 0, 0.717);
  text-decoration: none;
  font-size: bold;
  margin-right: 5px;
}
.topBar a {
  color: rgba(255, 0, 0, 0.717);
  text-decoration: none;
  font-weight: bold;
}

.topBar a:hover {
  color: rgba(255, 0, 0, 1);
  text-decoration: underline;
}

.upperInputDiv,
.lowerInputDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputFormText,
.buttonForm,
.selectForm,
.inputFormDate {
  outline: none;
  height: 50px;
  border-radius: 25px;
  padding: 5px 20px;
  margin: 5px;
  color: var(--text-color);
  border: solid 2px var(--border-color);
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(16px) saturate(180%);
}

.inputFormText,
.inputFormDate {
  flex-basis: 50%;
  flex-grow: 1;
}

.buttonForm {
  background-color: var(--button-backround-color);
  color: #2a2630;
}

.buttonForm:hover {
  background-color: var(--button-hover-color);
  transform: translateY(-2px);
  cursor: pointer;
}

.inputGroup {
  display: flex;
  flex-direction: column; /* Lägg label ovanför input */
  margin-bottom: 25px; /* Ge avstånd mellan grupperna */
}

.labelForm {
  font-weight: bold; /* Gör labeln tydligare */
  margin: 0 0 5px 15px;
  font-size: 0.9rem;
}
