.container {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.form {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
  flex-basis: 50%;
  justify-content: center;
  border-radius: 25px;
  background-color: var(--button-backround-color);
  background-color: var(--background-color);
}

.upperInputDiv,
.lowerInputDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputFormText,
.buttonForm,
.selectForm,
.inputFormDate {
  outline: none;
  height: 50px;
  border-radius: 25px;
  padding: 5px 20px;
  margin: 5px;
  color: var(--text-color);
  border: solid 2px var(--border-color);
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(16px) saturate(180%);
}

.inputFormText,
.inputFormDate {
  flex-basis: 50%;
  flex-grow: 1;
}

.buttonForm {
  background-color: var(--button-backround-color);
  color: #2a2630;
}

.buttonForm:hover {
  background-color: var(--button-hover-color);
  transform: translateY(-2px);
  cursor: pointer;
}
