.form {
  background-color: var(--primary-color);
  opacity: 0.8;
  padding: 1rem;
  width: 20rem;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  justify-content: center;
}

.form label {
  display: block;
  margin-bottom: 0.2rem;
  color: var(--background-color);
  font-weight: bold;
  font-size: 1.5rem;
}

.form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-radius: 6px;
  border: none;
  background-color: #ffffff;
  color: #303031;
}
