.iconContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0.2rem 0.7rem 0.2rem;
  color: var(--border-color);
}

/*Completed style Icons*/
.checkedIcon {
  font-size: 1.25rem;
  fill: rgb(24, 223, 116);
  border-radius: 50%;
}
.unCheckedIcon {
  font-size: 1.25rem;
  border: 2px solid rgb(24, 223, 116);
  border-radius: 50%;
}
/*---------------------------*/

.trashIcon:hover {
  color: red;
  cursor: pointer;
}

.description {
  flex-grow: 1;
  color: var(--text-color);
  padding: 0 0.5rem;
  overflow: auto;
}

.descriptionCompleted {
  text-decoration: line-through;
  color: var(--border-color);
}
