/* .TodoComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid #00db71;
  padding: 25px;
  width: 10%;
  height: 10%;
} */
.todoCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid #00db71;
  padding: 20px;
  min-width: 320px;
  height: 100px;
  background-color: #373737;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.todoCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.icon {
}

.description {
  font-size: 1.1rem;
  color: #cccccc;
  text-align: center;
}
