.todoCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-width: 320px;
  height: 100px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.todoCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.icon {
  flex-shrink: 0;
  flex-basis: 10%;
  font-size: 2rem;
}

.description {
  flex-basis: 85%;
  font-size: 1.1rem;
  color: #cccccc;
  text-align: left;
  align-self: center;
}
