.iconContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0.2rem 0.7rem 0.2rem;
  color: var(--border-color);
}

/*Completed style Icons*/
.checkedIcon {
  font-size: 1.25rem;
  fill: rgb(24, 223, 116);
  border-radius: 50%;
}
.unCheckedIcon {
  font-size: 1.25rem;
  border: 2px solid rgb(24, 223, 116);
  border-radius: 50%;
}
/*---------------------------*/

/* Due-date */
.dueDateP {
  font-size: 0.8rem;
  margin-left: 0.8rem;
}

.dueDateSpan {
  font-size: 0.8rem;
}

.dueDateExpiered {
  color: red;
}

.dueDateTaskCompleted {
  text-decoration: line-through;
  color: var(--boarder-color);
}
/* Due-date end */

/* Priority */
.todoPriority {
  font-size: 0.8rem;
  margin-left: 0.8rem;
}

/* Trash-icon */
.trashIcon {
  margin-left: auto;
}

.trashIcon:hover {
  color: red;
  cursor: pointer;
}
/* Trash-icon end */
