* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Grundläggande stil för body */
body {
  font-family: Arial, sans-serif;
  background-color: #393939;
  display: flex;
  flex-direction: column;
}
