:root {
  --background-color: rgb(0, 14, 46);
  --text-color: #cccccc;
  --button-hover-color: #23014a;
  --button-text-color: #2a2630;
  --button-backround-color: #06a5fb;
  --button-hover-color: #06a5fbc1;
  --border-color: rgba(255, 255, 255, 0.125);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
